In [27]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
train_data =pd.read_csv('pfm_train.csv')
test_data =pd.read_csv('pfm_test.csv')
train_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,Travel_Rarely,Research & Development,1,4,Life Sciences,77,1,Male,...,3,80,1,7,2,4,7,5,0,7
1,54,0,Travel_Frequently,Research & Development,1,4,Life Sciences,1245,4,Female,...,1,80,1,33,2,1,5,4,1,4
2,34,1,Travel_Frequently,Research & Development,7,3,Life Sciences,147,1,Male,...,4,80,0,9,3,3,9,7,0,6
3,39,0,Travel_Rarely,Research & Development,1,1,Life Sciences,1026,4,Female,...,3,80,1,21,3,3,21,6,11,8
4,28,1,Travel_Frequently,Research & Development,1,3,Medical,1111,1,Male,...,1,80,2,1,2,3,1,0,0,0

In [3]:
train_data[['Over18','OverTime','Gender']][1:5]

  Over18 OverTime  Gender
1      Y       No  Female
2      Y      Yes    Male
3      Y       No  Female
4      Y       No    Male

In [4]:
def convertBool2Int(x):
    if x == 'Y' or x == 'Yes'or x == 'Male':
        return 1
    elif x == 'N' or x == 'No'or x == 'Female':
        return 0
    else:
        return 0

In [5]:
##trans
train_data[['Over18','OverTime','Gender']] =train_data[['Over18','OverTime','Gender']].applymap(str).applymap(convertBool2Int)  
##onehot
BusinessTravel = pd.get_dummies(train_data.BusinessTravel,prefix='bt') 
Department = pd.get_dummies(train_data.Department,prefix='d') 
EducationField = pd.get_dummies(train_data.EducationField,prefix='ef') 
JobRole= pd.get_dummies(train_data.JobRole,prefix='j') 
MaritalStatus= pd.get_dummies(train_data.MaritalStatus,prefix='ms')

In [6]:
 
features=['Age',  'DistanceFromHome',  'Education', 
       'EnvironmentSatisfaction',  'JobInvolvement', 'JobLevel',
        'JobSatisfaction',  'MonthlyIncome','Gender',
       'NumCompaniesWorked', 'Over18','OverTime',  'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']
trainData = pd.concat([train_data[features],BusinessTravel,Department, EducationField, JobRole,MaritalStatus], axis = 1)

target =train_data['Attrition'] 
trainData.head()

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,Gender,NumCompaniesWorked,...,j_Laboratory Technician,j_Manager,j_Manufacturing Director,j_Research Director,j_Research Scientist,j_Sales Executive,j_Sales Representative,ms_Divorced,ms_Married,ms_Single
0,37,1,4,1,2,2,3,5993,1,1,...,0,0,1,0,0,0,0,1,0,0
1,54,1,4,4,3,3,3,10502,0,7,...,0,0,1,0,0,0,0,1,0,0
2,34,7,3,1,1,2,3,6074,1,1,...,1,0,0,0,0,0,0,0,0,1
3,39,1,1,4,2,4,4,12742,0,1,...,0,0,1,0,0,0,0,0,1,0
4,28,1,3,1,2,1,2,2596,1,1,...,1,0,0,0,0,0,0,1,0,0

In [7]:
trainData.columns

Index(['Age', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'Gender', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'bt_Non-Travel', 'bt_Travel_Frequently', 'bt_Travel_Rarely',
       'd_Human Resources', 'd_Research & Development', 'd_Sales',
       'ef_Human Resources', 'ef_Life Sciences', 'ef_Marketing', 'ef_Medical',
       'ef_Other', 'ef_Technical Degree', 'j_Healthcare Representative',
       'j_Human Resources', 'j_Laboratory Technician', 'j_Manager',
       'j_Manufacturing Director', 'j_Research Director',
       'j_Research Scientist', 'j_Sales Executive', 'j_Sales Representative',
       'ms_Divorced', 'ms_Married', 'ms_Single'],
      dtype='object')

In [8]:
tt = train_data.groupby('Attrition')['Attrition'].count()
tt

Attrition
0    922
1    178
Name: Attrition, dtype: int64

In [9]:
##trans
test_data[['Over18','OverTime','Gender']] =test_data[['Over18','OverTime','Gender']].applymap(str).applymap(convertBool2Int)  
test_BusinessTravel = pd.get_dummies(test_data.BusinessTravel,prefix='bt') 
test_Department = pd.get_dummies(test_data.Department,prefix='d') 
test_EducationField = pd.get_dummies(test_data.EducationField,prefix='ef') 
test_JobRole= pd.get_dummies(test_data.JobRole,prefix='j') 
test_MaritalStatus= pd.get_dummies(test_data.MaritalStatus,prefix='ms') 
testData = pd.concat([test_data[features],test_BusinessTravel,test_Department, test_EducationField,test_JobRole,test_MaritalStatus], axis = 1)
testData.columns

Index(['Age', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'Gender', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'bt_Non-Travel', 'bt_Travel_Frequently', 'bt_Travel_Rarely',
       'd_Human Resources', 'd_Research & Development', 'd_Sales',
       'ef_Human Resources', 'ef_Life Sciences', 'ef_Marketing', 'ef_Medical',
       'ef_Other', 'ef_Technical Degree', 'j_Healthcare Representative',
       'j_Human Resources', 'j_Laboratory Technician', 'j_Manager',
       'j_Manufacturing Director', 'j_Research Director',
       'j_Research Scientist', 'j_Sales Executive', 'j_Sales Representative',
       'ms_Divorced', 'ms_Married', 'ms_Single'],
      dtype='object')

# 1.直接LR模型,val表现不是太好，但是test为（0.874286）

In [10]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val =train_test_split(trainData, target,test_size=0.2)
clf = LogisticRegression(random_state=0, solver='lbfgs' ).fit(X_train, y_train)
clf.score(X_train, y_train)

0.8613636363636363

In [11]:
y_test = clf.predict(testData)

In [12]:
df_test = pd.DataFrame(y_test,columns=['result'])
df_test.to_csv("sample_noscale.csv",index=0,header=1,columns=['result'])

# 2.归一化后用LR模型，val好于未归一化的，test为（0.888571）

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(trainData)
trainData_scale = scaler.transform(trainData)

In [15]:
testData_scale = scaler.transform(testData)

In [16]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val =train_test_split(trainData_scale, target,test_size=0.2)
clf_scale = LogisticRegression(random_state=0, solver='lbfgs' ).fit(X_train, y_train)
clf_scale.score(X_train, y_train)

0.8965909090909091

In [17]:
y_test = clf_scale.predict(testData_scale) 
df_test = pd.DataFrame(y_test,columns=['result'])
df_test.to_csv("sample_scale.csv",index=0,header=1,columns=['result'])

# 3.pca降维后用LR模型，降维后没有看到变化，没提交

In [13]:
from sklearn.decomposition import PCA
pca = PCA(n_components=30)
pca.fit(trainData)
X_pca=pca.transform(trainData)
print(pca.explained_variance_ratio_)  
print("pca reserved percent=",pca.explained_variance_ratio_.sum())  
X_train, X_val, y_train, y_val = train_test_split(X_pca, target, test_size=0.2, random_state=42)
reg_pca = LogisticRegression().fit(X_train, y_train) 
print("train_val=",reg_pca.score(X_val,y_val) )

[9.99989015e-01 3.37642346e-06 3.00666036e-06 2.09685862e-06
 5.91808989e-07 5.31893434e-07 2.74687953e-07 2.39357978e-07
 1.83652497e-07 1.66082687e-07 7.49781510e-08 5.70802777e-08
 5.44295691e-08 5.17700172e-08 4.45108980e-08 3.94262822e-08
 2.86688142e-08 2.21090279e-08 2.12491522e-08 1.58659743e-08
 1.55118295e-08 1.35663286e-08 1.07964892e-08 8.93961914e-09
 8.25759071e-09 6.47747395e-09 6.05013333e-09 5.55258734e-09
 5.27935066e-09 4.55517992e-09]
pca reserved percent= 0.9999999773676153
train_val= 0.8590909090909091

In [18]:
X_test = testData
X_test_pca=pca.transform(X_test)
y_test=reg_pca.predict(X_test_pca) 
df = pd.DataFrame (y_test, columns = ['result'])
df.to_csv("sample_pca.csv",encoding = "utf-8",header=1,index=0)

# 4.考虑gbdt进行特征选择后用LR模型

In [19]:
from sklearn.model_selection import train_test_split
X_train_lr, X_t, y_train_lr, y_t = train_test_split(trainData, target, test_size=0.2, random_state=42)

In [20]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.linear_model import LogisticRegression  
def GBDTLR():
    GBDT = GradientBoostingClassifier(n_estimators=10)
    GBDT.fit(X_train_lr, y_train_lr)
    OHE = OneHotEncoder()
    OHE.fit(GBDT.apply(X_train_lr)[:, :, 0])
    LR = LogisticRegression()
    LR.fit(OHE.transform(GBDT.apply(X_train_lr)[:, :, 0]), y_train_lr)
    #test
    X_t_trans = OHE.transform(GBDT.apply(X_t)[:, :, 0])
    auc = LR.score(X_t_trans, y_t)
    print('GradientBoosting + LogisticRegression: ', auc)
    X_test_trans = OHE.transform(GBDT.apply(testData)[:, :, 0])
    Y_test = LR.predict(X_test_trans)
    df = pd.DataFrame (Y_test, columns = ['result'])
    df.to_csv("sample_gbdtlr.csv",encoding = "utf-8",header=1,index=0)
#     return Y_test

In [21]:
GBDTLR()

GradientBoosting + LogisticRegression:  0.8181818181818182

# 5.直接用xgboost

In [32]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
X_train, X_val, y_train, y_val = train_test_split(trainData, target, test_size=0.7, random_state=42)

In [33]:
def XGBoostTest():
    XGBmodel = xgb.XGBClassifier(nthread=4, learning_rate=0.08, n_estimators=100,colsample_bytree=0.85, max_depth =6)
#     XGBmodel.fit(trainData, target)
    XGBmodel.fit(X_train, y_train)
#     y_pred = XGB.predict(X_val) 
    auc = XGBmodel.score(X_val,y_val)
    print('XGBoost: ', auc) 
    Y_test = XGBmodel.predict(testData)
    df = pd.DataFrame (Y_test, columns = ['result'])
    df.to_csv("sample_xgb.csv",encoding = "utf-8",header=1,index=0)

In [34]:
XGBoostTest()

XGBoost:  0.8532467532467533